.pagination {
    flex-wrap: wrap;

    &-item {
        margin: 4px;

        &.active {
            .pagination-link {
                color: #74101a;
                border-color: #74101a;
            }
        }
        &.disable {
            pointer-events: none;
            user-select: none;
        }
    }

    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border: 1px solid #e5e5e5;
        border-radius: 6px;
        font-size: 14px;

        &:hover {
            color: #74101a;
        }

        img {
            height: 20px;
            width: auto;
        }
    }

}

.see-more__primary {
    .primary-link {
        padding: 8px 32px;
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        background-color: #fff;

        &:hover {
            background-color: #f5f5f5;
        }
    }
}
.see-more__secondary {
    .secondary-link {
        padding: 8px 32px;
        border: 1px solid #74101a;
        border-radius: 8px;
        background-color: #fff;

        &:hover {
            background-color: #f5f5f5;
            color: #74101a;
        }
    }
}

.article-switch {
    a {
        img {
            opacity: 0;
            transition: opacity 0.3s ease;

            &:first-child {
                opacity: 1;
            }
            &:not(:first-child) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    &:hover {
        a {
            img {
                opacity: 1;
                &:first-child {
                    opacity: 0;
                }

            }
        }
    }
}
.article-out-of-stock {
    position: relative;
    &::before {
        position: absolute;
        content: '';
        inset: 0;
        background-color: #eaeaea;
        z-index: 2;
    }
    &::after {
        position: absolute;
        content: 'Hết hàng';
        font-size: 16px;
        color: #fff;
        font-weight: 600;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #000000a3;
        padding: 16px 24px;
        border-radius: 999px;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
    }
}
/*-----------------------------------------------------*/
.breadcrumb-primary{
    &__list {
        margin-bottom: 2px;
        display: flex;
        flex-wrap: wrap;

    }
    &__item {
        color: #17171766;
        &:last-child {
            .breadcrumb-primary__link {
                color: #171717;
                user-select: none;
                pointer-events: none;
                margin-right: 0;
                
                    &::before {
                        content: none;
                    }
            }
        }
    }

    &__link {
      position: relative;
      display: inline-block;
      margin-right: 20px;
      padding: 3px 0;

      &::before {
        content: "/";
        position: absolute;
        right: -13px;
        color: #17171766;
        font-size: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
}
/*-----------------------------------------------------*/
.custom-checkbox {
    input[type="radio"],
    input[type="checkbox"] {
        display: none;
    }

    input[type="radio"] ~ label .check img,
    input[type="checkbox"] ~ label .check img {
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
    }

    input[type="radio"]:checked ~ label,
    input[type="checkbox"]:checked ~ label {
      
    }
    input[type="radio"]:checked ~ label .check img,
    input[type="checkbox"]:checked ~ label .check img {
      opacity: 1;
      visibility: visible;
    }
    input[type="checkbox"]:checked ~ label .check,
    input[type="radio"]:checked ~ label .check {
      background-color: #7a0d1e;
      border-color: #7a0d1e;
      &:hover {
        background-color: #7a0d1e;
      }
    }

    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding-top: 16px;
    }
    
    input[type="checkbox"] ~ label .check,
    input[type="radio"] ~ label .check {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border:1px solid #d1d5db;
      box-shadow: 0 1px 3px 0 rgb(0 0 0/0.1),0 1px 2px -1px rgb(0 0 0/0.1);
      &:hover {
        background-color: #7a0d1e;
      }
      border-radius: 4px;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.23, 1);
        img {
            width: 12px;
            height: auto;
        }

    }
    
    
    .check-txt {
      color: #171717;
      font-family: "Noto Sans", sans-serif;
      font-weight: 400;
      font-size: 14px;
      margin-left: 10px;
    }
}
.custom-radio {
    input[type="radio"],
    input[type="checkbox"] {
        display: none;
    }

    input[type="radio"] ~ label .check img,
    input[type="checkbox"] ~ label .check img {
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
    }

    input[type="radio"]:checked ~ label,
    input[type="checkbox"]:checked ~ label {
      color: #74101A;
    }
    input[type="radio"]:checked ~ label .check::after,
    input[type="checkbox"]:checked ~ label .check img {
      opacity: 1;
      visibility: visible;
    }
    input[type="checkbox"]:checked ~ label .check {
      background-color: #74101A;
      border-color: #74101A;
    }
    input[type="radio"]:checked ~ label .check {
      background-color: #fff;
      border-color: #74101A;
    }
    input[type="radio"]:checked ~ label .check:before,
    input[type="checkbox"]:checked ~ label .check:before {
      animation: checkbox-check 0.15s 0.25s cubic-bezier(0.4, 0, 0.23, 1) forwards;
      
    }

    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 12px 15px;
      border-bottom: 1px solid #E9E6E6;
    }
    
    input[type="checkbox"] ~ label .check {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #B6B6B6;
      background: transparent;
      border-radius: 3px;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.23, 1);
        img {
            width: 12px;
            height: auto;
        }

    }

    input[type="radio"] ~ label .check {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #B6B6B6;
      background: transparent;
      border-radius: 999px;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.23, 1);
        img {
            display: none;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 10px;
            height: 10px;
            border-radius: 999px;
            background-color: #74101A;
            opacity: 0;
            visibility: hidden;
        }

    }
    
    
    .check-txt {
      display: inline-block;
      padding-left: 12px;
      font-size: 16px;
      text-transform: capitalize;
      flex: 1;
    }
}
@keyframes checkbox-check {
    0% {
      width: 0;
      height: 0;
      border-color: #fff;
      transform: translate(0, 0) rotate(45deg);
    }
    33% {
      width: 2px;
      height: 0;
      transform: translate(0, 0) rotate(45deg);
    }
    100% {
      width: 4px;
      height: 8px;
      border-color: #fff;
      transform: translate(0, -8px) rotate(45deg);
    }
  }
/*-----------------------------------------------------*/
.empty-product {
    min-height: 50vh;
}

/*-----------------------------------------------------*/
.cate-box-one {
    &__item {
        .item-heading {
            border-bottom: 1px solid #f3f4f6;

            &__text {
                border-left: 1px solid #e5e7eb;
                padding-left: 8px;
            }
            &__icon {
                transition: all 0.2s ease;
                cursor: pointer;
            }
        }
        .item-list {
            border-left: 1px solid #f3f4f6;
            display: none;
        }
        a {
            &:hover {
                color: #7a0d1e;
            }
        }

        &.active {
            .item-heading__text {
                font-weight: 600;
                color: #7a0d1e;
                border-left:2px solid #7a0d1e;
            }
            .item-heading__icon {
                transform: rotate(180deg);
            }
            .item-list {
                display: block;
            }
        }
    }
}
.cate-box-two {}
.cate-box-three {
    [vote="4"] {
        .star-item {
            &:nth-child(n+5) {
                opacity: 0.2;
            }
        }
    }
    [vote="3"] {
        .star-item {
            &:nth-child(n+4) {
                opacity: 0.2;
            }
        }
    }
    [vote="2"] {
        .star-item {
            &:nth-child(n+3) {
                opacity: 0.2;
            }
        }
    }
    [vote="1"] {
        .star-item {
            &:nth-child(n+2) {
                opacity: 0.2;
            }
        }
    }
    .star-item {
        margin-right: 3px;
        img {
            width: 16px;
            height: auto;
        }
    }
}
.cate-box-four {
    &__item {
        

        &.active {
            .cate-box-four__link {
                color: #74101a;
                background-color: #fafafa;
            }
        }

        .item-icon {
            svg {
                width: 20px;
                height: auto;
            }
        }
    }
    &__link {
        color: #0a0a0a;
        background-color: #fff;
        width: 100%;
        border-radius: 8px;

        &:hover {
            background-color: #fafafa;
            color: #74101a;
        }
    }
}
/*-----------------------------------------------------*/
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: -10px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: -10px;
}
.swiper-button-next, .swiper-button-prev {
    width: 40px;
    height: 40px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 999px;
    background-color: #74101a;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 16px;
}
/*-----------------------------------------------------*/
.filter-box {
    position: relative;
    z-index: 90;
    &__select {
        color: #000;
        position: relative;
        .select-defautl {
            padding: 8px 12px;
            border: 1px solid #e5e5e5;
            border-radius: 8px;
            height: 36px;
            width: 180px;
            cursor: pointer;
            background-color: #fff;
        }
        .select-content {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            width: 180px;
            background-color: #fff;
            border-radius: 8px;
            padding: 8px;
            box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1);
            display: none;
        }
        .select-item {
            padding: 8px 12px;
            border-radius: 6px;
            cursor: pointer;

            &__icon {
                display: none;
            }
            &.active {
                .select-item__title {
                    font-weight: 600;
                    color: #a60e1d;
                }
                .select-item__icon {
                    display: block;
                }
            }
            &:hover {
                background-color: #f3f3f3;
                color: #a60e1d;
            }
        }
        &.active {
            .select-content {
                display: block;
            }
        }
    }
}
.filter-box-secondary {
    &__heading {
        background-color: #fff;
        padding: 8px 12px;
        height: 36px;
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        cursor: pointer;
    }
    &-content {
        max-height: calc(100vh - 315px);
    }
    &__list-btn {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid rgb(245, 245, 245);
        padding: 16px 24px;
        background-color: #fff;

        .btn-gray {
            padding: 8px 32px;
            border: 1px solid #e5e5e5;
            border-radius: 8px;
            background-color: #fff;
            height: 48px;
        }
        .btn-red {
            padding: 8px 32px;
            border: 1px solid #a60e1d;
            border-radius: 8px;
            background-color: #a60e1d;
            height: 48px;
            color: #fff;
        }
    }
}
/*-----------------------------------------------------*/

.cate-primary {
    &__banner {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: #0000007A;
        }
    }
    &__container {
        min-height: 280px;
        position: relative;
    }
    &__title {}
}

/*----------------------------------------------------- product*/
.article-quantity {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    height: 34px;
    overflow: hidden;

    .increment,
    .deincrement {
        font-size: 18px;
        line-height: 1;
        display: inline-flex;
        height: 33px;
        width: 33px;
        cursor: pointer;
        text-align: center;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #f5f5f5;
        }
    }

    .number {
        display: inline-flex;
        flex: 1;
        height: 33px;
        width: 48px;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-left: 1px solid #d1d5db;
        border-right: 1px solid #d1d5db;
        font-size: 14px;
        font-weight: 600;
    }
}
.popup-center {
    &__field {
        position: fixed;
        inset: 0;
        z-index: 1001;
        justify-content: center;
        display: none;
    }
    &__inner {
        max-width: 800px;
        width: 100%;
        background-color: #fff;
        transform: translateX(100%);
        transition: all 0.2s ease;
        position: relative;
        z-index: 100;
        margin: 24px;
        border-radius: 8px;
        
    }
    &__heading {
        padding: 16px 24px;
        border-bottom: 1px solid rgba(245, 245, 245, 1);
        .heading-title {}
        .heading-icon {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(245, 245, 245, 1);
            border-radius: 999px;
            box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0/0.1),0 1px 2px -1px rgb(0 0 0/0.1);
            background-color: #fff;
            cursor: pointer;
            img {
                width: 16px;
                height: auto;
            }
            &:hover {
                background-color: #d1d5db;
            }
        }
    }

    &__content {
        max-height: calc(100vh - 150px);
        overflow: auto;
        padding: 16px 24px;
    }

    &.active {
        .popup-center__field {
            display: flex;
        }
        .popup-center__inner {
            transform: translateX(0);
        }

    }
}
/*-----------------------------------------------------*/
.product-primary {
    &__slide {
        .slide-small {
            .swiper-slide {
                cursor: pointer;
                .article-img {
                    border: 2px solid transparent;
                }
            }
            .swiper-slide-thumb-active {
                .article-img {
                    border-color: #ef4444;
                }
            }
        }
    }
    .info-size,
    .info-material {
        &__item {
            padding: 8px 16px;
            border: 1px solid #e5e5e5;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            cursor: pointer;
            margin:4px 12px 4px 0;

            &:hover {
                background-color: #f5f5f5;
            }

            &.active {
                border-color: #74101a;
                border-width: 2px;
            }
        }
    }

    .add-cart-btn {
        padding: 12px 24px;
        background-color: #74101a;
        border-radius: 8px;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 300px;
        cursor: pointer;
        height: 48px;

        &:hover {
            background-color: #4b040b;
        }

    }
    &__tab {
        .detail-content {
             &  h2 {
                font-size: 30px;
            }
            &  h3 {
                font-size: 24px;
            }
            &  h4 {
                font-size: 20px;
            }
            &  h5 {
                font-size: 18px;
            }
            &  h6 {
                font-size: 16px;
            }
        }
        .tab-item {
            border-bottom: 2px solid transparent;

            &.active {
                border-color: #7a0d1e;
                color: #7a0d1e;
            }
        }
        .panes-block {
            border: 1px solid #d4d4d4;
            border-radius: 8px;
            padding: 16px;
        }
    }

    &__info {
         &  h2 {
            font-size: 16px;
        }
        &  h3 {
            font-size: 16px;
        }
        &  h4 {
            font-size: 16px;
        }
        &  h5 {
            font-size: 16px;
        }
        &  h6 {
            font-size: 16px;
        }
    }
}
/*----------------------------------------------------- about us*/
/*----------------------------------------------------- faq*/
.faq-box {
    &__item {
        margin-bottom: 16px;
        .plus {
            display: block;
        }
        .minus {
            display: none;
        }
        &.active {
            .plus {
                display: none;
            }
            .minus {
                display: block;
            }
            .faq-box__des {
                display: block;
            }
            .faq-box__heading {
                color: #74101a;
            }
        }
    }
    &__heading {
        cursor: pointer;
    }
    &__des {
        display: none;
    }
}